body {
    text-align: center;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.screen {
    width: 220px;
    height: 100px;
    background-color: lightgray;
    border: 2px solid;
    margin: 5px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.smallDisplay{
    height: 20px;
    padding: 2px;
    text-align: left;
}

.display {
    height: 30px;
    padding: 2px;
    text-align: right;
    font-size: 34px;
}

.numpad {
    display: grid;
    width: 220px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.outer-container{
    width: 400px;
    border: 2px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: lightblue ;
    width: 230px;
    border: 2px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: light grey;
    display: flex;
    flex-direction: column;
    align-items: center;

}